.form-container {
    margin: auto;
    width: 20vw;
    height: 55vh;
}
  
.main-form {
    margin-left: 3vw;
    padding-top: 3vw;
}

.agree-terms {
    margin-bottom: 3vh;
}

.download-form {
    margin-left: 3vw;
    padding-top: 5vw;
}

.reset-btn {
    margin-top: 3vh;
    margin-left: 3vw;
}

.hint {
    margin-top: 1vh;
    margin-bottom: 1vh;
}